{{! employee-info.handlebars }}

<h2>Employee Information</h2>

<div class="employee-info">
  {{! Loop over each employee }}
  {{#each employees as employee}}
    <div class="card">
      <div class="card-content">
        <h2>{{first_name}} {{last_name}}</h2>
      </div>
      <div class="card-tabs">
        <ul class="tabs tabs-fixed-width">
          <li class="tab"><a href="#role">Role</a></li>
          <li class="tab"><a class="active" href="#personalInfo">Personal
              Information</a></li>
        </ul>
      </div>
      <div class="card-content grey lighten-4">
        <div id="role">
          <p><strong>Role:</strong> {{role}}</p>
          <p><strong>Salary:</strong> {{salary}}</p>
        </div>
        <div id="personalInfo">
          <p><strong>Email:</strong> {{email}}</p>
          <p><strong>Phone:</strong> {{phone}}</p>
          <p><strong>Address:</strong> {{address}}</p>
        </div>
      </div>
    </div>
    <div class="employee">
    </div>
  {{/each}}
</div>